ffmpeg-python==0.2.0
GitPython
graphviz
ipykernel
jupyterlab
matplotlib
numpy
pylatexenc
scikit-learn
torch==2.2.0
torchmetrics==1.3.0.post0
tqdm==4.66.1
qiskit==0.45.1
qiskit-aer==0.13.2
qiskit-algorithms==0.2.1
qiskit-ibm-provider==0.8.0
qiskit-ibm-runtime==0.17.0
qiskit-machine-learning==0.7.1
